body {
    font-family: 'Roboto', sans-serif;
    background-color: #212529; 
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url('assets/background1.jpg'); 
    background-size: cover;
    background-position: center;
    
    height: calc(100vh - 130px); 
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2; 
    max-width: 650px;
    width: 90%;
}


.btn-warning {
    background-color: #ff9800;
    border-color: #ff9800;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #e68a00;
    border-color: #e68a00;
    transform: scale(1.05); 
}

.nav-link {
    font-size: 1.1rem;
    margin: 0 15px;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ff9800 !important; 
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.logo-golden-border:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px #212529; 
}

.body-bg-image {
    background-image: url('assets/background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
